{% extends "body_template.html" %}
{% block content %}
<div class="container outter">
    <div class="row">
        <div style="text-align: justify" class="col-md-6 sidepadded">
            <h3>Geometric Transversal Theory</h3>
            <h4>Introduction</h4>
            <p>Helly's theorem on intersecting convex sets gave birth to a very fruitful area of discrete and computational geometry called Geometric Transversal
            Theory. This area has rich interactions with algortihms, combinatorics and topology. Although the progress throughout
            the years has been substantial, there are still many interesting and deep open questions to solve that keep the research in
            the area quite alive. </p>
        <p> This mini-course is a selected research-oriented introduction to the topic. It is based on the diagram below. We will overview
            some interrelated theorems and give a sketch of their proofs. A wide variety of open problems will be presented.</p>
        </div>
        <div class="col-md-6 sidepadded" id="data">
            <div class="blockitem">
                <img src="static/helly.png" alt="Colorful Helly" class="img-fluid"> </div>
            </div>
        </div>
        <div class="col-md-12 sidepadded">
                <img class="img-fluid" id="themap" src="static/MapGTTLTR.png" alt="Geometric Transversal Theory Map">
                <br>
        </div>
    </div>
</div>
 {% endblock %}
