<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no>">
    <title> Leonardo Martínez - Mathematics and Programming</title>
    <link rel="shortcut icon" href="/static/favicon.gif">

    <!-- Styles and Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/personal.css" />
    <link rel="stylesheet" href="/static/convertex.css" />
    <script type="text/javascript" src="/static/bootstrap/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                      processEscapes: true
                    },
                    TeX: {
                    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
                    },
                    "HTML-CSS": { availableFonts: ["TeX"] }
                  });
        </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js'></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/convertex.js"></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5PRVVVBKTQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5PRVVVBKTQ');
    </script>

    <!-- Social Media Tags -->
    <meta name="description" content="I am a mathematician, a Python programmer and an advocate of science." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="familyName" content="Martínez Sandoval">
    <meta itemprop="givenName" content="Leonardo Ignacio">
    <meta itemprop="alternateName" content="Leonardo Martinez Sandoval">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@leoimartinez">
    <meta name="twitter:title" content="Leonardo Martínez - Mathematics and Programming">
    <meta name="twitter:description" content="I am a mathematician, a Python programmer and an advocate of science.">
    <meta name="twitter:creator" content="@leoimartinez">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.nekomath.com/static/LionColorSWP2.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Leonardo Martínez - Mathematics and Programming" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="http://www.nekomath.com" />
    <meta property="og:image" content="http://www.nekomath.com/static/LionColorSWP2.png" />
    <meta property="og:description" content="I am a mathematician, a Python programmer and an advocate of science." />
    <meta property="og:site_name" content="Nekomath" />
    <meta property="profile:first_name" content="Leonardo Ignacio" />
    <meta property="profile:last_name" content="Martínez Sandoval" />
    <meta property="fb:admins" content="502849689" />
</head>

<body onload="gosection();">
     {% block header %}
    <header class="container">
        <h1>
            <a href="/">
                Leonardo Ignacio Martínez Sandoval
            </a>
        </h1>
        <p>
            <span class="smallhead">- </span> Mathematical Researcher
            <br class="smallhead"> - Python Coder
            <br class="smallhead"> - Advocate of Problem-Solving
        </p>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>   
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Info
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href='{{ url_for("about") }}'>About Me</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href='https://www.facebook.com/leoimartinez'>Facebook Profile 🔗</a>
                    <a class="dropdown-item" href='https://www.linkedin.com/in/leoimartinez'>Linkedin Profile 🔗</a>
                    <a class="dropdown-item" href='https://www.twitter.com/leoimartinez'>Twitter Profile 🔗</a>
                    <a class="dropdown-item" href='https://www.instagram.com/leoimartinez'>Instagram Profile 🔗</a>
                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Research
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href='{{ url_for("papers") }}'>Scientific Publications</a>
                      <a class="dropdown-item" href='{{ url_for("tresearch") }}'>Talks and Slides</a>
                      <a class="dropdown-item" href='{{ url_for("sresearch") }}'>Research Service</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="https://scholar.google.com/citations?user=hUjL-FwAAAAJ&hl=es">Google Scholar Profile 🔗</a>
                      <a class="dropdown-item" target="_blank" href="https://www.zbmath.org/authors/?q=leonardo+mart%C3%ADnez-sandoval">zbMATH Profile 🔗</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Teaching
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href='{{ url_for("courses") }}'>Courses</a>
                      <a class="dropdown-item" href='{{ url_for("students") }}'>Students</a>
                      <a class="dropdown-item" href='{{ url_for("steaching") }}'>Academic Service</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="https://moodle.nekomath.com">NekoMath Learn (Spanish) 🔗</a>
                      <a class="dropdown-item" target="_blank" href="https://blog.nekomath.com/docencia">Notes in Blog (Spanish) 🔗</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Math Promotion
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href='{{ url_for("contests") }}'>Math Contests</a>
                      <a class="dropdown-item" href='{{ url_for("events") }}'>Math Events</a>
                      <a class="dropdown-item" href='{{ url_for("writings") }}'>Math in Media</a>
                      <a class="dropdown-item" href='{{ url_for("tpromotion") }}'>Talks and Slides</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href="https://blog.nekomath.com">Personal Blog (Spanish) 🔗</a>
                      <a class="dropdown-item" target="_blank" href="https://www.youtube.com/channel/UCE5xZapml0LpCcUso6_hMOQ">YouTube Channel 🔗</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Coding
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href='{{ url_for("coding") }}'>Coding Portfolio</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" target="_blank" href='{{ url_for("convertex") }}'>ConverTex 🔗</a>
                      <a class="dropdown-item" target="_blank" href='{{ url_for("convertexes") }}'>ConverTex (Spanish) 🔗</a>
                      <a class="dropdown-item" target="_blank" href="https://github.com/leomtz">GitHub Profile 🔗</a>
                    </div>
                  </li>
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Hobbies
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Drawings</a>
                      <a class="dropdown-item" href="#">Music</a>
                      <a class="dropdown-item" href="#">Short Stories</a>
                    </div> -->
                  </li>
              </ul>
            </div>
          </nav>
    </header>
     {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container">
    {% block footer %}
        <p>&copy; Leonardo Ignacio Martínez Sandoval, <time datetime="2025"> 2025 </time></p>
    {% endblock %}
    </footer>

</body>

</html>