{% extends "body_template.html" %}
{% block header %}
<header class="container">
    <h1 class="convertex">
        <a href="/es/ct">
            ConverTex <span class="smallctx"> Móvil</span>
        </a>
    </h1>
    <p>
        Compartiendo matemáticas
    </p>
</header>
{% endblock %}
{% block content %}
<div class="container outter">
    <div class="row">
        <div class="col-md-6 sidepadded" id="data">
            <h4>¡Bienvenido!</h4>

            {% if link==True %}
            Recibiste la siguiente $\TeX$-card:
            <div class="texcard">
                <span>
                    {{ content }}
                </span>
            </div>
            {% else %}
            Creemos que platicar de matemáticas en línea usando $\LaTeX$ no debería ser incómodo. Por esto creamos las $\TeX$-cards. Esta es una:
            <div class="texcard">
                <span>
                    {{ content }}
                </span>
            </div>
            {% endif %}
            
            <p>
                {% if link==True %}Creemos que platicar de matemáticas en línea usando $\LaTeX$ no debería ser incómodo. Por esto creamos las $\TeX$-cards.{% endif %} 
                Tú también puedes crear tu tarjeta y compartirla. Usa el editor <span class="smallctx">y los botones</span>para escribir tus fórmulas.
                Luego da clic en el botón "Crear TeX-card". ConverTex y MathJax harán la magia.
            </p>
        </div>

        <div class="col-md-6 sidepadded">
            <h4>Escribe tu texto aquí abajo</h4>
            <span class="smallctx">
                <button class="mjx" onclick="dls('$')"> $</button>
                <button class="mjx" onclick="dls('\\')"> \</button>
                <button class="mjx" onclick="dls('{')">{</button>
                <button class="mjx" onclick="dls('}')">}</button>
                <button class="mjx" onclick="dls('[')">[</button>
                <button class="mjx" onclick="dls(']')">]</button>
                <button class="mjx" onclick="dls('=')">=</button>
                <button class="mjx" onclick="dls('^')">^</button>
            </span>
            <span id="charcount"> 750 </span>
            <br>
            <textarea id="newinput" name="mathjax" onload="count()" oninput="count()">{{ content }}</textarea>
            <br>
            <script>count();</script>
            <button class="mjx tex" onclick="newcard()"> Crear TeX-card</button>
            
            <div id="createcard">
                <br>
                <h4>Aquí está tu TeX-card</h4>
                <div class="texcard" id="newcard">
                    
                </div>
                
                <button class="mjx tex" onclick="save()"> Obtener enlace </button>
                <input class="form-control" type="text" id="linktex"></input>
            </div>

        </div>
    </div>
</div>
 {% endblock %}

 {% block footer %}
    <p>&copy; Por
        <a href="/"> NekoMath </a>, Leonardo Ignacio Martínez Sandoval, 2024</p>
{% endblock %}

