<h4> ConverTex<span class="smallctx"> Mobile</span></h4>

<p>
Discussing math using $\LaTeX$ on the go does not have to be awkward! 
Use the editor below <span class="smallctx">and handy buttons </span>to get math formulas using MathJax. 
Click "Convert" and see the magic!
</p>

<span class="smallctx">
<button class="mjx" onclick="dls('$')"> $</button>
<button class="mjx" onclick="dls('\\')"> \</button>
<button class="mjx" onclick="dls('{')">{</button>
<button class="mjx" onclick="dls('}')">}</button>
<button class="mjx" onclick="dls('+')">+</button>
<button class="mjx" onclick="dls('-')">-</button>
<button class="mjx" onclick="dls('=')">=</button>
<button class="mjx" onclick="dls('^')">^</button>
</span>
<span id="charcount"> 539 </span><br>
<textarea id="datamj" name="mathjax" onload="count()" oninput="count()">
You can share from very basic $\LaTeX$ formulas like the area of a triangle \[A=\frac{b\cdot h}{2},\] to beautiful statements
like the Gaussian integral \[\int_{-\infty}^{\infty} e^{-x^2} \, dx = \sqrt{\pi}.\]</textarea><br>
<button class="mjx tex" onclick="update()"> Convert to LaTeX <br> www.nekomath.com/convertex</button>

<b>Here is your formula:</b><br><br>

<p id="textMJ">
     You can share from very basic $\LaTeX$ formulas like the area of a triangle \[A=\frac{b\cdot h}{2},\] to beautiful statements
    like the Gaussian integral \[\int_{-\infty}^{\infty} e^{-x^2} \, dx = \sqrt{\pi}.\]
</p>

<button class="mjx tex" onclick="save()"> Get Share Link </button>
<input class="form-control" type="text" id="linktex"></input>