{% extends "body_template.html" %}
{% block content %}
<div class="container outter">
    <div class="row">
    <div class="col-md-4 col-lg-6 padded">
        <div class="sidepadded">
            <nav>
            <h4> General</h4>
            <p>
                <button class="app" onclick="updateData(this.name)" name="about">About Me</button>
                <button class="app" onclick="updateData(this.name)" name="education">Education</button>
                <button class="app" onclick="updateData(this.name)" name="jobs">Professional Experience</button>
                <button class="app" onclick="updateData(this.name)" name="awards">Awards</button>
            </p>
            </nav>
        </div>

        <div class="sidepadded">
            <nav>
            <h4> Mathematical Research </h4>
            <p>
                <button class="app" onclick="updateData(this.name)" name="papers">Scientific Publications</button>
                <button class="app" onclick="updateData(this.name)" name="presentations">Talks and Slides</button>
                <button class="app" onclick="updateData(this.name)" name="teaching">Teaching</button>
                <button class="app" onclick="updateData(this.name)" name="service">Academic Service</button>
            </p>
            </nav>
        </div>

        <div class="sidepadded">
            <nav>
            <h4> Coding Portfolio</h4>
            <p>
                <button class="app" onclick="updateData(this.name)" name="wholep">All Projects</button>
                <button class="app" onclick="updateData(this.name)" name="pythonp">Python Projects</button>
                <button class="app" onclick="updateData(this.name)" name="webp">Web Projects</button>
                <button class="app" onclick="updateData(this.name)" name="datascp">Data Science Projects</button>
            </p>
            </nav>
        </div>

        <div class="sidepadded">
            <nav>
            <h4> Promotion of Math and Problem-Solving </h4>
            <p>
                <button class="app" onclick="updateData(this.name)" name="olympiad">Math Contests</button>
                <button class="app" onclick="updateData(this.name)" name="fairs">Math Fairs</button>
                <button class="app" onclick="updateData(this.name)" name="prompub">Writings</button>
                <button class="app" onclick="updateData(this.name)" name="media">In Media</button>
            </p>
            </nav>
        </div>

        <div class="sidepadded">
            <nav>
            <h4> Hobbies and more </h4>
            <p> 
                <button class="app" onclick="updateData(this.name)" name="drawings">Drawings</button>
                <button class="app" onclick="updateData(this.name)" name="music">Music</button>
                <button class="app" onclick="updateData(this.name)" name="stories">Short Stories</button>
                <button class="app" onclick="window.location.href = '/convertex'" name="convertex">ConverTex</button>
            </p>
            </nav>
        </div>
    </div>    

    <div class="col-md-8 col-lg-6 padded" id="data">
        <section>
        {{ rcontent|safe }}
        </section>
    </div>

    <div class="col-md-8 col-lg-6 padded" id="ldr">
        <div class="loader"></div>
    </div>
    </div>
</div>
{% endblock %}