{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Academic Service</h3>

        <div class="row pt-3">
            <div class="col-md-4 col-lg-6">

            <p style="text-align: justify"> List of academic service activities. </p>
        </div>

        <div class="col-md-8 col-lg-6" id="data">
            <div class="blockitem">
                <img src="static/pastels.jpg" class="img-fluid"></img>
            </div>
            </div>            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> Undegraduate Thesis Reviewer </h4>
                {% for item in service %}
                {% if item.tags[0] == "ut_reviewer" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        <p>{{ item.description }} ({{item.date}}).</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-6">
                <h4> Graduate Thesis Reviewer </h4>
                {% for item in service %}
                {% if item.tags[0] == "gt_reviewer" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        <p>{{ item.description }} ({{item.date}}).</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}