{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pt-3 pl-3 pr-3">
        <h3>Research Talks and Slides</h3>
        <div class="row pt-3">
            <div class="col-md-4 col-lg-6">

            <p style="text-align: justify"> Here you can find a list of my research talks at international and local events. For some of them you can
            download the slides. </p>
        </div>    
    
        <div class="col-md-8 col-lg-6" id="data">
            <div class="blockitem">
                <img class="img-fluid" src="/static/helly-3.png"></img>
            </div>           
            </div>            

            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> International Events </h4>
                    {% for item in presentations %}
                    {% if item.tags[0] == "int_conf" %}
                    <div class="paperitem wrapper mb-3 mt-3">
                        <div class="prob-info">
                            <p><strong> {{ item.title }}</strong> ({{item.date}}). {{ item.audience }}. {{ item.institution + '.' if item.institution}}
                            {% if item.links['file']!=None %}</p>
                            <p><a href="/static/slides/{{ item.links['file'] }}" class="goodie" target="_blank"> Get slides</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>

            <div class="col-lg-6">
                <h4> Local Events </h4>
                {% for item in presentations %}
                {% if item.tags[0] in ["local_conf", "seminar"] %}
                <div class="paperitem wrapper mb-3 mt-3">
                    <div class="prob-info">
                        <p><strong> {{ item.title }}</strong> ({{item.date}}). {{ item.audience }}. {{ item.institution + '.' if item.institution}}
                        {% if item.links['file']!=None %}</p>
                        <p><a href="/static/slides/{{ item.links['file'] }}" class="goodie" target="_blank"> Get slides</a></p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}