{% extends "main.html" %}
{% block title %} Matemáticas {% endblock %}
{% block scripts %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
<script type="text/javascript" async
src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script>
    function sendData(){
       datamj = JSON.stringify(document.getElementById("datamj").value)
       var xhttp = new XMLHttpRequest();
       xhttp.open("POST","/math");
       xhttp.setRequestHeader( "Content-Type","application/json");
       xhttp.setRequestHeader( "dataType","json");
       xhttp.send(datamj);
    }
</script>
{% endblock %}
{% block content %}
<h1>¡Bienvenido a la página de matemáticas!</h1>

<p id=textMJ>
    {{ coolmath }} 
</p>

<form action="/math">
    <textarea id="datamj" name="mathjax">{{ coolmath }}</textarea>
    <br>
    <button id="send" type="submit" value="Submit" onclick="sendData"> Pasar a MathJax</button>
</form>

{% endblock %}