body {
    text-align: center;
    background-image: url("/static/background.png");
    background-repeat: repeat;
    background-size: 30px;
    color: rgb(0,0,43);
    font-family: 'Calibri Light', Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h1, h2{
    color: rgb(0, 51, 145);
}

img{
    padding: 10px;
    width: 350px;
}

header{
    background-color: aliceblue;
    padding: 15pt 0pt;

}

.container{
    background-color: white;
}

.bgcss{
    box-model: border-box;
    background-color: bisque;
    background-clip:padding-box;
    border: 10px solid transparent;
    padding:10px;
}
