{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pr-3 pl-3 pt-3">
        <h3>Coding Portfolio</h3>
        <div class="row pt-3">
            <div class="col-md-8">

        <p> Here you can find a list of some coding and web projects I have worked on. </p>

        <p> My favorite combination for webapp development is Flask as backend and Bootstrap as frontend.  </p>

        </div>    
    
        <div class="col-md-4" id="data">        
            <div class="blockitem">
                <img class="img-fluid" src="/static/rate30.png"></img>
            </div>           
        </div>
            
        </div>

        <div class="row pt-3">

            <div class="col-lg-4">
                <h4> Flask Development </h4>

                {% for item in coding_list | sort(attribute='start_date', reverse = True)%}
                {% if item.main_tag == "webapp" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {% if item.start_date == item.end_date %}
                            ({{ item.start_date.strftime('%Y') }})<br>
                        {% elif item.end_date %}
                            ({{ item.start_date.strftime('%Y') }}-{{ item.end_date.strftime('%Y') }}) <br>
                        {% else  %}
                            ({{ item.start_date.strftime('%Y') }}-Now)<br>
                        {% endif %}
                        <p>{{ item.description | safe }}</p>
                        {% if item.github %}
                        <a href="https://github.com/{{ item.github }} " class="goodie" target="_blank">GitHub Link 🔗</a>
                        {% endif %}
                        {% if item.link %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Project Link 🔗</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="thirdLabel mb-2">{{ item.technologies }}</div>
                </div>
                {% endif %}
                {% endfor %}
                <hr>
                <h4> Mini-web pages </h4>

                {% for item in coding_list | sort(attribute='start_date', reverse = True)%}
                {% if item.main_tag == "miniweb" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {% if item.start_date == item.end_date %}
                            ({{ item.start_date.strftime('%Y') }})<br>
                        {% elif item.end_date %}
                            ({{ item.start_date.strftime('%Y') }}-{{ item.end_date.strftime('%Y') }}) <br>
                        {% else  %}
                            ({{ item.start_date.strftime('%Y') }}-Now)<br>
                        {% endif %}
                        <p>{{ item.description | safe }}</p>
                        {% if item.github %}
                        <a href="https://github.com/{{ item.github }} " class="goodie" target="_blank">GitHub Link 🔗</a>
                        {% endif %}
                        {% if item.link %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Project Link 🔗</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="thirdLabel mb-2">{{ item.technologies }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-4">
                <h4> Other web pages </h4>
                {% for item in coding_list | sort(attribute='start_date', reverse = True)%}
                {% if item.main_tag == "webdev" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {% if item.start_date == item.end_date %}
                            ({{ item.start_date.strftime('%Y') }})<br>
                        {% elif item.end_date %}
                            ({{ item.start_date.strftime('%Y') }}-{{ item.end_date.strftime('%Y') }}) <br>
                        {% else  %}
                            ({{ item.start_date.strftime('%Y') }}-Now)<br>
                        {% endif %}
                        <p>{{ item.description | safe }}</p>
                        {% if item.github %}
                        <a href="https://github.com/{{ item.github }} " class="goodie" target="_blank">GitHub Link 🔗</a>
                        {% endif %}
                        {% if item.link %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Project Link 🔗</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="thirdLabel mb-2">{{ item.technologies }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-4">
                <h4> Data Science </h4>

                {% for item in coding_list | sort(attribute='start_date', reverse = True)%}
                {% if item.main_tag == "datasc" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {% if item.start_date == item.end_date %}
                            ({{ item.start_date.strftime('%Y') }})<br>
                        {% elif item.end_date %}
                            ({{ item.start_date.strftime('%Y') }}-{{ item.end_date.strftime('%Y') }}) <br>
                        {% else  %}
                            ({{ item.start_date.strftime('%Y') }}-Now)<br>
                        {% endif %}
                        <p>{{ item.description | safe }}</p>
                        {% if item.github %}
                        <a href="https://github.com/{{ item.github }} " class="goodie" target="_blank">GitHub Link 🔗</a>
                        {% endif %}
                        {% if item.link %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Project Link 🔗</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="thirdLabel mb-2">{{ item.technologies }}</div>
                </div>
                {% endif %}
                {% endfor %}

                <hr>

                <h4> Python - Other </h4>

                {% for item in coding_list | sort(attribute='start_date', reverse = True)%}
                {% if item.main_tag == "python" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {% if item.start_date == item.end_date %}
                            ({{ item.start_date.strftime('%Y') }})<br>
                        {% elif item.end_date %}
                            ({{ item.start_date.strftime('%Y') }}-{{ item.end_date.strftime('%Y') }}) <br>
                        {% else  %}
                            ({{ item.start_date.strftime('%Y') }}-Now)<br>
                        {% endif %}
                        <p>{{ item.description | safe }}</p>
                        {% if item.github %}
                        <a href="https://github.com/{{ item.github }} " class="goodie" target="_blank">GitHub Link 🔗</a>
                        {% endif %}
                        {% if item.link %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Project Link 🔗</a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="thirdLabel mb-2">{{ item.technologies }}</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}