{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Mathematical Contests</h3>
        <div class="row pt-3">
            <div class="col-md-4 col-lg-6 padded">

        <p>Some mathematical contests I have been involved with.</p>
        </div>    
    
        <div class="col-md-8 col-lg-6 padded" id="data">

            <div class="blockitem">
                <img class="img-fluid" src="/static/contests.png"></img>
            </div>           
            </div>            

            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6 padded">
                <h4> As Organizer or Grader </h4>
                {% for item in contests %}
                {% if item.tags[0] in  ["organizer", "grader"]  %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {{item.role}} ({{ item.date[0]|string + " - " + item.date[1]|string if item.date[0] else item.date }})<br>
                        <details>
                            <summary>See more...</summary>
                            <p>{{ item.description }}.</p>
                        </details>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-6 padded">
                <h4> As Coach or Leader </h4>
                {% for item in contests %}
                {% if item.tags[0] in  ["coach", "leader"]  %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        {{item.role}} ({{ item.date[0]|string + " - " + item.date[1]|string if item.date[0] else item.date }})<br>
                        <details>
                            <summary>See more...</summary>
                            <p>{{ item.description }}.</p>
                        </details>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    {% endblock %}