{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Mathematical Events</h3>
        <div class="row pt-3">
            <div class="col-md-8">

        <p>List of events on mathematical promotion I have been involved in.</p>
        </div>    
    
        <div class="col-md-4" id="data">
            <div class="blockitem">
                <img class="img-fluid" src="/static/piday.png"></img>
            </div>           
            </div>            

            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> Mathematical Fairs </h4>
                    {% for item in fairs %}
                    {% if item.tags[0] in  ["fairs"]  %}
                    <div class="paperitem wrapper">
                        <div class="prob-info">
                            <strong> {{ item.title }}</strong><br>
                            {{item.role}} ({{ item.date[0]|string + " - " + item.date[1]|string if item.date[0] else item.date }}). {{item.institution}}.<br>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>

            <div class="col-lg-6">
                <h4> Other Events </h4>
                    {% for item in fairs %}
                    {% if item.tags[0] in  ["other"]  %}
                    <div class="paperitem wrapper">
                        <div class="prob-info">
                            <strong> {{ item.title }}</strong><br>
                            {{item.role}} ({{ item.date[0]|string + " - " + item.date[1]|string if item.date[0] else item.date }}). {{item.institution}}.<br>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}