{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pt-3 pl-3 pr-3">
        <h3>Scientific Publications</h3>
        <div class="row pt-3">
            <div class="col-md-8 text-justify">

            <p> I am a researcher in mathematics at the <a
                href="http://www.fciencias.unam.mx/" target="_blank"> Faculty of Sciences </a> of the <a
                href="https://www.unam.mx/"> National Autonomous University of Mexico </a> (FC-UNAM). My 
                main areas of research interest are discrete and computational geometry. Here you can find a list of my scientific publications.
               </p>
        </div>    
    
        <div class="col-md-4" id="data">
            <div class="blockitem">
                <img src="static/papers.png" alt="Timeline of publications" class="img-fluid"></img>
            </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h4> Journal Papers</h4>

                {% for item in papers | sort(attribute='date', reverse = True)%}
                {% if item.publication_type == "journal" %}
                <div class="paperitem wrapper mb-3">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        <p>{{ item.authors }}</p>
                        <p>
                        {% if item.arxiv!=None %}
                        <a href="https://arxiv.org/abs/{{ item.arxiv }} " class="goodie" target="_blank">arXiv 🔗</a>
                        {% endif %}
                        {% if item.doi!=None %}
                        <a href="http://dx.doi.org/{{ item.doi }}" class="goodie" target="_blank">DOI 🔗</a>
                            {% endif %}
                            {% if item.link!=None %}
                        <a href="{{ item.link }}" class="goodie" target="_blank">Link </a>
                            {% endif %}
                        </p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-2 thirdLabel">{{ item.date.strftime('%Y') }}</div>
                            <div class="col-md-12 col-lg-10 thirdLabel">{{ item.journal }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-4">
                <h4> Proceedings </h4>

                {% for item in papers | sort(attribute='date', reverse = True) %}
                {% if item.publication_type == "ext-abs" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        <p>{{ item.authors }}</p>
                        <p>
                            {% if item.arxiv!=None %}
                            <a href="https://arxiv.org/abs/{{ item.arxiv }} " class="goodie" target="_blank">arXiv 🔗</a>
                            {% endif %}
                            {% if item.doi!=None %}
                            <a href="http://dx.doi.org/{{ item.doi }}" class="goodie" target="_blank">DOI 🔗</a>
                                {% endif %}
                                {% if item.link!=None %}
                            <a href="{{ item.link}}" class="goodie" target="_blank">Link </a>
                                {% endif %}
                        </p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-2 thirdLabel">{{ item.date.strftime('%Y') }}</div>
                            <div class="col-md-12 col-lg-10 thirdLabel">{{ item.journal }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <div class="col-lg-4">
                <h4> Preprints   </h4>
                {% for item in papers | sort(attribute='date', reverse = True) %}
                {% if item.publication_type == "preprint" %}
                <div class="paperitem wrapper">
                    <div class="prob-info">
                        <strong> {{ item.title }}</strong><br>
                        <p>{{ item.authors }}</p>
                        <p>
                            {% if item.arxiv!=None %}
                            <a href="https://arxiv.org/abs/{{ item.arxiv }} " class="goodie" target="_blank">arXiv 🔗</a>
                            {% endif %}
                            {% if item.doi!=None %}
                            <a href="http://dx.doi.org/{{ item.doi }}" class="goodie" target="_blank">DOI 🔗</a>
                                {% endif %}
                                {% if item.link!=None %}
                            <a href="{{ item.link}}" class="goodie" target="_blank">Link </a>
                                {% endif %}
                        </p>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-2 thirdLabel">{{ item.date.strftime('%Y') }}</div>
                            <div class="col-md-12 col-lg-10 thirdLabel">{{ item.journal }}</div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}