{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Research Service</h3>
        <div class="row pt-3">
            <div class="col-md-8">

            <p style="text-align: justify"> List of research service activities. </p>
        </div>    
    
        <div class="col-md-4" id="data">
            <div class="blockitem">
                <img src="static/voronoi.png" class="img-fluid"></img>
            </div>
            </div>  
            
        </div>

        <div class="row pt-3">
            <div class="col-lg-4">
                <h4> Journal Reviewer </h4>
                    {% for item in r_journal | sort(attribute='date', reverse = True ) %}
                    <div class="paperitem wrapper mb-3 mt-3">
                        <div class="prob-info">
                            <p><strong> {{ item.title }}</strong> ({{item.date.strftime('%Y')}})
                        </div>
                    </div>
                    {% endfor %}
            </div>

            <div class="col-lg-4 padded">
                <h4> Conference Reviewer </h4>
                    {% for item in r_conference | sort(attribute='date', reverse = True ) %}
                    <div class="paperitem wrapper mb-3 mt-3">
                        <div class="prob-info">
                            <p><strong> {{ item.title }}</strong> ({{item.date.strftime('%Y')}})
                        </div>
                    </div>
                    {% endfor %}
            </div>

            <div class="col-lg-4 padded">
                <h4> Organizing Committee </h4>
                {% for item in service | sort(attribute='date', reverse = True ) %}
                <div class="paperitem wrapper mb-3 mt-3">
                    <div class="prob-info">
                        <p><strong> {{ item.Service.title }}</strong> ({{item.Service.date.strftime('%Y')}}). {{ item.Institution.name + '.' if item.Institution.name}}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}