{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Academic Service</h3>

        <div class="row pt-3">
            <div class="col-md-8">

            <p style="text-align: justify"> List of academic service activities. </p>
        </div>

        <div class="col-md-4" id="data">
            <div class="blockitem">
                <img src="static/pastels.jpg" class="img-fluid"></img>
            </div>
            </div>            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> Master Thesis Reviewer </h4>
                <ul>
                    {% for item in service %}
                    {% if item.Service.service_type == "r_master_thesis" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}) - {{ item.Service.title }}. </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing) - {{ item.Service.title }}. </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                
            </div>

            <div class="col-lg-6">
                <h4> Undergraduate Thesis Reviewer </h4>
                <ul>
                    {% for item in service %}
                    {% if item.Service.service_type == "r_ug_thesis" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}) - {{ item.Service.title }}. </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing) - {{ item.Service.title }}. </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    {% endblock %}