{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pl-3 pr-3 pt-3">
        <h3>Students</h3>
        <div class="row pt-3">
            <div class="col-md-8">

        <p>List of the students that I supervise either as thesis supervisor or social service supervisor.</p>
        </div>    
    
        <div class="col-md-4" id="data">        
            <div class="blockitem">
                <img src="static/angel.png" class="img-fluid"></img>
            </div>
            </div>            

            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> Doctoral Advisory Committee </h4>
                <ul>
                    {% for item in students %}
                    {% if item.Service.service_type == "a_d_thesis" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}). </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing). </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                <h4> Doctoral Thesis Advisor </h4>
                <ul>
                    {% for item in students %}
                    {% if item.Service.service_type == "s_doc_thesis    " %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}). </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing). </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                <h4> Master Thesis Advisor </h4>
                <ul>
                    {% for item in students %}
                    {% if item.Service.service_type == "s_m_thesis" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}) - {{ item.Service.title }}. </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing) - {{ item.Service.title }}. </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
                <h4> Undergraduate Thesis Advisor </h4>
                <ul>
                    {% for item in students %}
                    {% if item.Service.service_type == "s_ug_thesis" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.description }}</strong> ({{ item.Service.date.strftime('%Y') }}) - {{ item.Service.title }}. </li>
                    {% else %}
                    <li> <strong> {{ item.Service.description }}</strong> (Ongoing) - {{ item.Service.title }}. </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-6">
                <h4> Social Service Superivisor </h4>
                <ul>
                    {% for item in students %}
                    {% if item.Service.service_type == "s_social_service" %}
                    {% if item.Service.date %}
                    <li> <strong> {{ item.Service.title }}</strong> ({{ item.Service.date.strftime('%Y') }}). </li>
                    {% else %}
                    <li> <strong> {{ item.Service.title }}</strong> (Ongoing). </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    {% endblock %}