{% extends "body_template.html" %}
    {% block content %}
    <div class="container outter pt-3 pl-3 pr-3">
        <h3>Research Talks and Slides</h3>
        <div class="row pt-3">
            <div class="col-md-8">

            <p style="text-align: justify"> Here you can find a list of my research talks at international and local events. For some of them you can
            download the slides. </p>
        </div>    
    
        <div class="col-md-4" id="data">
            <div class="blockitem">
                <img class="img-fluid" src="/static/helly-3.png"></img>
            </div>           
            </div>            

            
        </div>

        <div class="row pt-3">
            <div class="col-lg-6">
                <h4> International Events </h4>
                    {% for item in talks | sort(attribute='Talk.date', reverse = True ) %}
                    {% if item.Talk.event_type == "r_int" %}
                    <div class="paperitem wrapper mb-3 mt-3">
                        <div class="prob-info">
                            <p><strong> {{ item.Talk.title }}</strong> ({{item.Talk.date.strftime('%Y')}}). {{ item.Talk.event }}. {{ item.Institution.name + '.' if item.Institution.name}}
                            {% if item.Talk.slides %}</p>
                            <p><a href="/static/slides/{{ item.Talk.slides }}" class="goodie" target="_blank"> Get slides</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>

            <div class="col-lg-6">
                <h4> Local Events </h4>
                {% for item in talks | sort(attribute='Talk.date', reverse = True )%}
                    {% if item.Talk.event_type == "r_local" %}
                    <div class="paperitem wrapper mb-3 mt-3">
                        <div class="prob-info">
                            <p><strong> {{ item.Talk.title }}</strong> ({{item.Talk.date.strftime('%Y')}}). {{ item.Talk.event }}. {{ item.Institution.name + '.' if item.Institution.name}}
                            {% if item.Talk.slides %}</p>
                            <p><a href="/static/slides/{{ item.Talk.slides }}" class="goodie" target="_blank"> Get slides</a></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>

        </div>
    </div>
    {% endblock %}