<h4>About me</h4>
<div class="blockitem">
    <img class="img-fluid" src="/static/perfil.jpg"></img>
    <p style="text-align: center">
        Under the cherry trees - Denmark 2017</p>
</div>

<p style="text-align: justify">Researcher in mathematics with strong programming skills. Open to positions in Academia
    and the Tech Industry. I keep on learning continuously and I like to share with others what I have learnt. </p>

<p> I am particularly fond of mathematical problem solving. When my timetable allows it, I contribute to various
    mathematical competitions around the world, including the <a href="http://www.imo-official.org" target="_blank">
        International Mathematical Olympiad</a>, the <a href="http://www.apmo-officialorg" target="_blank"> Asian
        Pacific Mathematics Olympiad </a> and the <a href="http://www.ommenlinea.org" target="_blank"
        rel="noopener noreferrer">Mexican Mathematical Olympiad.</a> </p>

<p style="text-align: justify"> I have various hobbies. I like painting, playing music, reading and the occasional
    writing of short stories or blog entries. I love cooking, specially mexican food and desserts. I have run some 10k
    races and a half-marathon. </p>