<h4>About me</h4>

<img class="img-fluid" src="/static/perfil.jpg"></img>

<p style="text-align: justify">Researcher in mathematics with strong programming skills. Open to positions 
    in Academia and the Tech Industry. I like learning and explaining my 
    knowledge. I am particularly fond of problem solving. When my timetable 
    allows it, I spend my time collaborating with various Mathematical Olympiad 
    projects around the world and solving their problems. </p>

<p style="text-align: justify"> I have various hobbies too. I like drawing, playing music, reading
    and the occassional writting of short stories or blog entries. I love 
    cooking, specially desserts. I have run some 10k and a half-marathon 
    in Jerusalem. </p>