<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no>">
    <title> Leonardo Martínez - Mathematics and Programming</title>
    <link rel="shortcut icon" href="/static/favicon.gif"">

    <!-- Styles and Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/personal.css" />
    <link rel="stylesheet" href="/static/convertex.css" />
    <script type="text/javascript" src="/static/bootstrap/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                      processEscapes: true
                    },
                    TeX: {
                    extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
                    },
                    "HTML-CSS": { availableFonts: ["TeX"] }
                  });
        </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js'></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/convertex.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114923591-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114923591-1');
    </script>

    <!-- Social Media Tags -->
    <meta name="description" content="I am a mathematician, a Python programmer and an advocate of science." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="familyName" content="Martínez Sandoval">
    <meta itemprop="givenName" content="Leonardo Ignacio">
    <meta itemprop="alternateName" content="Leonardo Martinez Sandoval">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@leoimartinez">
    <meta name="twitter:title" content="Leonardo Martínez - Mathematics and Programming">
    <meta name="twitter:description" content="I am a mathematician, a Python programmer and an advocate of science.">
    <meta name="twitter:creator" content="@leoimartinez">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.nekomath.com/static/LionColorSWP2.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Leonardo Martínez - Mathematics and Programming" />
    <meta property="og:type" content="profile" />
    <meta property="og:url" content="http://www.nekomath.com" />
    <meta property="og:image" content="http://www.nekomath.com/static/LionColorSWP2.png" />
    <meta property="og:description" content="I am a mathematician, a Python programmer and an advocate of science." />
    <meta property="og:site_name" content="Nekomath" />
    <meta property="profile:first_name" content="Leonardo Ignacio" />
    <meta property="profile:last_name" content="Martínez Sandoval" />
    <meta property="fb:admins" content="502849689" />
</head>

<body onload="gosection();">
     {% block header %}
    <header class="container">
        <h1>
            <a href="/">
                Leonardo Ignacio Martínez Sandoval
            </a>
        </h1>
        <p>
            <span class="smallhead">- </span> Mathematical Researcher
            <br class="smallhead"> - Python Coder
            <br class="smallhead"> - Advocate of Problem-Solving
            <br> leomtz[at]ciencias.unam.mx
        </p>
    </header>
     {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="container">
    {% block footer %}
        <div id="social">
            <a href="https://www.facebook.com/leoimartinez" target="_blank">
                <img class="social-icon" alt="Facebook" src="/static/icons/facebook.png"></img>
            </a>
            <a href="http://blog.nekomath.com" target="_blank">
                <img class="social-icon" alt="Blog" src="/static/icons/wordpress.png"></img>
            </a>
            <a href="https://www.youtube.com/c/ssbmplayer" target="_blank">
                <img class="social-icon" alt="YouTube" src="/static/icons/youtube.png"></img>
            </a>
            <a href="https://www.linkedin.com/in/leoimartinez" target="_blank">
                <img class="social-icon" alt="LinkedIn" src="/static/icons/linked-in.png"></img>
            </a>
            <a href="https://www.instagram.com/leoimartinez" target="_blank">
                <img class="social-icon" alt="Instagram" src="/static/icons/instagram.png"></img>
            </a>
            <a href="https://www.github.com/leomtz" target="_blank">
                <img class="social-icon" alt="GitHub" src="/static/icons/github.png"></img>
            </a>
            <a href="https://www.twitter.com/leoimartinez" target="_blank">
                <img class="social-icon" alt="Twitter" src="/static/icons/twitter.png"></img>
            </a>
        </div>
        <br>
        <p>&copy; Leonardo Ignacio Martínez Sandoval, <time datetime="2019"> 2019 </time></p>
    {% endblock %}
    </footer>

</body>

</html>