<h4> ConverTex<span class="smallctx"> Mobile</span></h4>

<p>
Discussing math using $\LaTeX$ on the go does not have to be awkward! 
Use the editor below <span class="smallctx">and handy buttons </span>to get math formulas using MathJax. 
Click "Convert" and see the magic!
</p>

<span class="smallctx">
<button class="mjx" onclick="dls('$')"> $</button>
<button class="mjx" onclick="dls('\\')"> \</button>
<button class="mjx" onclick="dls('{')">{</button>
<button class="mjx" onclick="dls('}')">}</button>
<button class="mjx" onclick="dls('+')">+</button>
<button class="mjx" onclick="dls('-')">-</button>
<button class="mjx" onclick="dls('=')">=</button>
<button class="mjx" onclick="dls('^')">^</button>
</span>
<span id="charcount"> 710 </span><br>
<textarea id="datamj" name="mathjax" oninput="count()">Some cool $\LaTeX$ like $\frac{1}{d+1}$.</textarea><br>
<button class="mjx tex" onclick="update()"> Convert to LaTeX <br> www.nekomath.com/convertex</button>

<b>Take a screenshot and share your formula!</b><br><br>

<p id="textMJ">
    Some cool $\LaTeX$ like $\frac{1}{d+1}$.
</p>

