<h3>Data Science Portfolio</h3>

{% for project in items %}
<div class="paperitem wrapper">
    <div class="PInfo">
        <strong> {{ project.title }}</strong><br>
        {{ project.description | safe }}<br>
        {% if project.links['github']!=None %}
        <a href="https://github.com/{{ project.links['github'] }} " target="_blank">GitHub Link</a>
        {% endif %}
        {% if project.links['web']!=None %}
        <a href="{{ project.links['web'] }}" target="_blank">Project Link</a>
        {% endif %}
    </div>

    <div class="wrapper">
        <div class="thirdLabel Y">{{ project.date }}</div>
        <div class="thirdLabel L">{{ project.technologies }}</div>
    </div>
</div>
{% endfor %}