<h3>Education</h3>
<div class="blockitem">
    <h3>PhD in Mathematics and Modelling<br>2012 - 2016</h3>
    <h4>Universidad Nacional Autónoma de México and Université de Montpellier</h4>
    <p>“Explorations in combinatorial geometry: Distinct circumradii, geometric Hall-type theorems, fractional Turán-type theorems, lattice path matroids and Kneser transversals”</p>
    <p>Supervisors: Dr. Luis Montejano Peimbert and Dr. Jorge Ramírez Alfonsín</p>
</div>

<div class="blockitem">
    <h3>BSc in Mathematics<br>2007 - 2011</h3>
    <h4>Universidad Nacional Autónoma de México</h4>
    <p>BSc Thesis: "El problema del Ángel de Conway y gráficas angelicales.</p>
    <p>Supervisor: Dr. Javier Bracho Carpizo</p>
</div>