<h4>Involvement in Mathematical Fairs</h4>

{% for item in items %}
<div class="paperitem wrapper">
    <div class="prob-info">
        <strong> {{ item.title }}</strong><br>
        {{ item.institution }}
        <p> {{ item.description }} </p>
    </div>

    <div class="container">
            <div class="row padded">
                <div class="col-md-6 thirdLabel">{{ item.role }}</div>
                <div class="col-md-6 thirdLabel">{{ item.date }}</div>
            </div>
        </div>
</div>
{% endfor %}