<h4>Scientific Publications</h4>

<img src="static/papers.png" alt="Timeline of publications" class="img-fluid" </img>

{% for item in items %}
<div class="paperitem wrapper">
    <div class="prob-info">
        <strong> {{ item.title }}</strong><br>
        <p>{{ item.authors }}</p>
        {% if item.links['arxiv']!=None %}
        <a href="https://arxiv.org/abs/{{ item.links['arxiv'] }} " class="goodie" target="_blank">Preprint via arXiv</a>
        {% endif %}
        {% if item.links['doi']!=None %}
        <a href="http://dx.doi.org/{{ item.links['doi'] }}" class="goodie" target="_blank">Paper via DOI</a>
        {% endif %}
        {% if item.links['web']!=None %}
        <a href="{{ item.links['web'] }}" class="goodie" target="_blank">Link</a>
        {% endif %}
    </div>

    <div class="container">
        <div class="row sidepadded">
            <div class="col-md-6 col-lg-1 thirdLabel">{{ item.date }}</div>
            <div class="col-md-6 col-lg-3 thirdLabel">{{ item.tags }}</div>
            <div class="col-md-12 col-lg-8 thirdLabel">{{ item.journal }}</div>
        </div>
    </div>
</div>
{% endfor %}