<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="/static/personal.css"/>
        <title>Leonardo Martínez - Mathematics and Programming</title>
        <script>
            function updateData(section){
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET","/request/" + section, false);
            xhttp.send();
            document.getElementById("data").innerHTML = xhttp.responseText;
            window.history.pushState("wow data", "Title", "/"+section);
            // window.scrollTo(0,0)
        }
        </script>
    </head>
    <body>
    <div id="header">
        <h1>
            Leonardo Ignacio Martínez Sandoval
        </h1>
        <p> Mathematical Researcher - Python Coder - Advocate of Problem-Solving</p>
    </div>
    
    <div class="outter wrapper">
        <div class="bigblock" id="menu">

            <h2> General</h2>
            <div class="wrapper">
                <ul class="menu">
                    <!-- <li class="menuItem"><button onclick="updateData(this.name)" name="lion">Home</button></li> -->
                    <li class="menuItem"><button onclick="updateData(this.name)" name="about">About Me</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="education">Education</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="jobs">Professional Experience</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="awards">Awards</button></li>
                </ul>
            </div>
    
            <h2> Mathematical Research </h2>
            <div class="wrapper">
                <ul class="menu">
                    <li class="menuItem"><button onclick="updateData(this.name)" name="papers">Scientific Publications</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="presentations">Talks and Slides</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="teaching">Teaching</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="service">Academic Service</button></li>
                </ul>
            </div>

            <h2> Coding Portfolio</h2>
            <div class="wrapper">
                <ul class="menu">
                    <li class="menuItem"><button onclick="updateData(this.name)" name="wholep">All Projects</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="pythonp">Python Projects</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="webp">Web Projects</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="datascp">Data Science Projects</button></li>
                </ul>
            </div>

            <h2> Promotion of Math and Problem-Solving </h2>
            <div class="wrapper">
                <ul class="menu">
                    <li class="menuItem"><button onclick="updateData(this.name)" name="olympiad">Math Contests</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="fairs">Math Fairs</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="prompub">Publications</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="media">In Media</button></li>
                </ul>
            </div>

            <h2> Hobbies and more</h2>
            <div>
                <ul class="menu">
                    <li class="menuItem"><button onclick="updateData(this.name)" name="drawings">Drawings</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="music">Music</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="stories">Short Stories</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="random">Random Hobbies</button></li>
                    <li class="menuItem"><button onclick="updateData(this.name)" name="links">Interesting Links</button></li>
                </ul>
            </div>
        </div>

        <div class="bigblock" id="data">
            {{ rcontent|safe }}
        </div>
    </div>

    <div id="footer">
        <div id="social">
            <a href="https://www.facebook.com/leoimartinez" target="_blank"><img class="social-icon" alt="Facebook" src="/static/facebook.png"></img></a>
            <a href="https://www.youtube.com/c/ssbmplayer" target="_blank"><img class="social-icon" alt="YouTube" src="/static/youtube.png"></img></a>
            <a href="https://www.instagram.com/leoimartinez" target="_blank"><img class="social-icon" alt="Instagram" src="/static/instagram.png"></img></a>
            <a href="https://www.linkedin.com/in/leoimartinez" target="_blank"><img class="social-icon" alt="LinkedIn" src="/static/linked-in.png"></img></a>
            <a href="https://www.github.com/leomtz" target="_blank"><img class="social-icon" alt="GitHub" src="/static/github.png"></img></a>
            <a href="https://www.twitter.com/leoimartinez" target="_blank"><img class="social-icon" alt="Twitter" src="/static/twitter.png"></img></a>
            <a href="http://blog.nekomath.com" target="_blank"><img class="social-icon" alt="Blog" src="/static/wordpress.png"></img></a>
        </div>
        <p>&copy; Leonardo Ignacio Martínez Sandoval, 2018</p>
    </div>

    
    </body>
</html>