<h3>Publications on Math Awareness</h3>

{% for paper in items %}
<div class="paperitem wrapper">
    <div class="PInfo">
            <strong> {{ paper.title }}</strong><br>
            {{ paper.authors }}<br>
            {% if paper.links['arxiv']!=None %}
            <a href="https://arxiv.org/abs/{{ paper.links['arxiv'] }}" target="_blank">Preprint via arXiv</a>
            {% endif %}
            {% if paper.links['doi']!=None %}
            <a href="http://dx.doi.org/{{ paper.links['doi'] }}" target="_blank">Paper via DOI</a>
            {% endif %}
            {% if paper.links['web']!=None %}
            <a href="{{ paper.links['web'] }}" target="_blank">Link</a>
            {% endif %}
        </div>

    <div class="wrapper">
        <div class="thirdLabel Y">{{ paper.date }}</div>
        <div class="thirdLabel T">{{ paper.tags }}</div>
        <div class="thirdLabel J">{{ paper.journal }}</div>
    </div>
</div>
{% endfor %}