<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no>">
    <title> Taller de Geometría Discreta y Computacional - ENC - SMCC</title>

    <!-- Styles and Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/smcc.css"/>

    <!-- <link rel="stylesheet" href="/static/convertex.css" /> -->
    <script type="text/javascript" src="/static/bootstrap/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link  rel="stylesheet"  href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                      processEscapes: true
                    },
                    "HTML-CSS": { availableFonts: ["TeX"] }
                  });
        </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js'></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/convertex.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

    <!-- Social -->
    <meta property="og:title" content="Taller de Geometría Discreta y Computacional - ENC - SMCC">
    <meta property="og:image" content="../static/voronoi.png">

</head>

<body data-spy="scroll" data-target="#toc">

<!-- <header>
    <h1>Encuentro Nacional de Computación 2021, SMCC</h1>
    <h2 data-toc-skip>Taller de Geometría Discreta y Computacional</h2>
</header> -->


<div class="container outter mt-3 pb-3">
  <div class="row">
    <div class=col-md-3>
      <img src="../static/voronoi.png" alt="Horario GDC ENC" class="w-100 mt-3"> </img>
      <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    </div>
    <div class="col-md-9">
      <hr>
      <h1>Encuentro Nacional de Computación 2021, SMCC</h1>
      <h2>Taller de Geometría Discreta y Computacional</h2>
      <hr>

      <h3>Acerca de </h3>
      <p> Este taller se organiza en el marco del Encuentro Nacional de Computación de la Sociedad Mexicana de Ciencia de la Computación A.C. Todo el encuentro se realizará de manera virtual. La institución sede es la ENES-Morelia, UNAM en conjunto con la Universidad Michoacana de San Nicolás de Hidalgo.</p>

      <h3>Objetivo del taller </h3>

      <p>Identificar a la comunidad de investigadores y estudiantes mexicanos que se dediquen a la geometría discreta y computacional para ofrecerles un espacio de intercambio académico que permita fortalecer sus vínculos y que fomente la colaboración entre el perfil discreto y el computacional.</p>

      <h3>Temas</h3>
      Recibiremos contribuiciones relacionadas con distintos temas en geometría discreta y computacional. Entre ellos se encuentran, pero no estan limitados a, los siguientes.
      <ul>
        <li>Algoritmos en geometría</li>
        <li>Aplicaciones de geometría discreta y computacional</li>
        <li>Aspectos geométricos de matroides</li>
        <li>Búsquedas geométricas</li>
        <li>Conjuntos convexos</li>
        <li>Estructuras de datos geométricas</li>
        <li>Geometría de transversales y teoremas tipo Helly</li>
        <li>Politopos</li>
        <li>Problemas extremales geométricos</li>
        <li>Problemas geométricos dinámicos</li>
      </ul>

      <h3>Actividades</h3>
      <ul>
        <li>Conferencias invitadas</li>
        <li>Pláticas de investigación y reporte de tesis</li>
        <li>Presentación de pósters</li>
        <li>Sesión de problemas abiertos</li>
        <li>Sesión de propuestas de proyectos de titulación (licenciatura y posgrado)</li>
      </ul>

      <h3>Fechas importantes</h3>
      <ul>
        <li>Recepción de trabajos: 31 de mayo de 2021</li>
        <li>Revisión de trabajos: 1 al 20 de junio de 2021</li>
        <li>Respuesta a los autores: 21 de junio de 2021</li>
        <li>Versión final: 29 de junio de 2021</li>
        <li>Fechas del taller: 10 y 11 de agosto de 2021</li>
      </ul>

      <hr>

      <h3>Preparación y envío de trabajos</h3>

      <a href=https://forms.gle/KrQFQo9Uzf76k1jcA> <button type="button" class="btn btn-info"> Formulario de envío </button> </a>

      <p>Para solicitar la presentación de una plática, póster, problema abierto o propuesta de titulación, se deberá enviar un documento de <b>a lo más 2 cuartillas</b>, usando la plantilla correspondiente. Para usar la plantilla en Overleaf, entra a tu cuenta de Overleaf, abre el enlace y luego en tu cuenta de Overleaf duplica el proyecto para obtener una versión editable. Para usar la plantilla Zip, descarga el archivo, extráelo y usa tu editor de LaTeX local. Para tu envío necesitarás únicamente el PDF generado. Deberá pesar menos de 10MB.</p>

      <p>El Comité Técnico determinará si el trabajo es apropiado para su presentación en el taller. En caso de requierir más información o correcciones menores, le avisará a los autores para realizar los cambios pertinentes. Dicho comité también elegirá cuáles trabajos se aceptaran en caso de que excedan las sesiones disponibles.</p>

      <h4>Pláticas de investigación y reporte de tesis</h4>
      
      <a href=https://es.overleaf.com/read/fgkgwrbcnvcs> <button type="button" class="btn btn-info"> Plantilla Overleaf </button> </a>
      <a href=/static/Platica.zip> <button type="button" class="btn btn-info"> Plantilla Zip </button> </a>
      
      <p> En esta actividad está contemplada la presentación de resultados de investigación parciales o finales. También se recibirán propuestas de reporte de avance o conclusión de tesis de doctorado, maestría y casos excepcionales de licenciatura. Las propuestas deberán resumir el contenido de la plática y señalar bibliografía donde se pueda consultar más del tema. A todos los trabajos seleccionados se les otorgará una sesión de 30 minutos durante el taller.</p>

      <h4>Pósters</h4>
      
      <a href=https://es.overleaf.com/read/njntjgqpybcq> <button type="button" class="btn btn-info"> Plantilla Overleaf </button> </a>
      <a href=/static/Poster.zip> <button type="button" class="btn btn-info"> Plantilla Zip </button> </a>
      
      <p> Las solicitudes consisirán únicamente en describir la propuesta de póster. Los pósters de propuestas aceptadas deberán ser enviados a más tardar el día 1 de agosto en formato PDF. Los pósters serán publicados en este sitio. Se les dará amplia difusión durante el taller.</p> 

      <h4>Problemas abiertos</h4>
      
      <a href=https://es.overleaf.com/read/gzkpqbjbccxh> <button type="button" class="btn btn-info"> Plantilla Overleaf </button> </a>
      <a href=/static/Problema.zip> <button type="button" class="btn btn-info"> Plantilla Zip </button> </a>
      
      <p> En esta actividad se presentarán problemas abiertos de geometría discreta y computacional. Esto es con la idea de establecer vínculos entre investigadores para realizar investigación en el área. Las propuestas deberán incluir el contexto del problema, las definiciones necesarias, el problema a estudiar y bibliografía auxiliar. Las propuestas aceptadas se presentarán en una sesión especial dedicada a ello. La colección de todas las propuestas se subirá a este sitio y permanecerá <b>pública</b>.</p>

      <h4>Propuestas de proyectos de titulación</h4>
      
      <a href=https://es.overleaf.com/read/kpvkmgdjxxhw> <button type="button" class="btn btn-info"> Plantilla Overleaf </button> </a>
      <a href=/static/Titulacion.zip> <button type="button" class="btn btn-info"> Plantilla Zip </button> </a>

      <p> En esta actividad se presentarán propuestas de proyectos de titulación a nivel licenciatura, maestría y doctorado. Esto es con la idea de establecer vínculos entre investigadores y estudiantes. Las propuestas deberán incluir el contexto del problema, las definiciones necesarias, el problema a estudiar y bibliografía auxiliar. Las propuestas aceptadas se presentarán en una sesión especial dedicada a ello. La colección de todas las propuestas se subirá a este sitio y permanecerá <b>pública</b>.</p>
      

      <hr>

      <h3>Conferencistas invitados</h3>

      <ul>
        <li>Luis Montejano Peimbert - IM-Juriquilla, UNAM</li>  
        <li>Jorge Urrutia Galicia - IM-CDMX, UNAM</li>
      </ul>

      <h3>Programa tentativo</h3>

      Todo el taller se llevará a cabo de manera virtual, mediante Zoom. Los datos de acceso se enviarán a los participantes registrados a más tardar una semana antes del evento.

      <style type="text/css">
        .tg .tg-cly1{text-align:left;vertical-align:middle}
        .tg .tg-ruyx{background-color:#8791ff;color:#F3F3F3;font-weight:bold;text-align:center;vertical-align:middle}
        .tg .tg-pojt{background-color:#b4ceff;text-align:center;vertical-align:middle}
        .tg .tg-nrix{text-align:center;vertical-align:middle}
        .tg .tg-vmer{background-color:#8791ff;text-align:left;vertical-align:middle}
        </style>
        <table class="tg table w-75 mx-auto w-auto">
        <thead>
          <tr>
            <th class="tg-cly1"></th>
            <th class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">10 de agosto</span></th>
            <th class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">11 de agosto</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">10:00-10:15</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Bienvenida</span></td>
            <td class="tg-cly1"></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">10:15-11:15</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática invitada 1</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática invitada 2</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">11:15-11:45</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">11:45-12:15</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr> 
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">12:15-13:00</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Sesión problemas</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Sesión proyectos titulación</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">13:00-15:00</span></td>
            <td class="tg-nrix">Comida</td>
            <td class="tg-nrix">Comida</td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">15:00-15:30</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">15:30-16:00</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">16:00-16:30</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">16:30-17:00</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Plática</span></td>
          </tr>
          <tr>
            <td class="tg-ruyx"><span style="font-weight:bold;color:#F3F3F3;background-color:#8791ff">17:00</span></td>
            <td class="tg-cly1"></td>
            <td class="tg-pojt"><span style="background-color:#b4ceff">Despedida y convivio</span></td>
          </tr>
        </tbody>
        </table>

        <!-- <img src="../static/Horario.png" alt="Horario GDC ENC" class="w-75"> </img> -->

      <hr>

      <h3>Organización del taller</h3>
      <h4>Comité Organizador</h4>
      <ul>
        <li>Leonardo Ignacio Martínez Sandoval - Facultad de Ciencias, UNAM</li>
        <li>Víctor Hugo Almendra Hernández - Facultad de Ciencias, UNAM</li>
        <li>Por determinar</li>
      </ul>

      <h4> Comité Técnico </h4>
      <ul>
        <li>Ruy Fábila Monroy - CINVESTAV-IPN</li>
        <li>Natalia García Colín - Université Libre de Bruxelles</li>
        <li>Déborah Oliveros Braniff - IM-Juriquilla, UNAM </li>
        <li>Edgardo Roldán Pensado - CCM, UNAM</li>
      </ul>

      <hr>

      <h3>Enlaces útiles</h3>
      <ul>
        <li><a href="http://computo.fismat.umich.mx/smcc/"> Sociedad Mexicana de Ciencia de la Computación A.C. </a></li>
        <li><a href="http://computo.fismat.umich.mx/enc2021/"> Encuentro Nacional de Computación </a></li>
      </ul>

      <!-- <p>Por un lado, la geometría discreta estudia las propiedades combinatorias de familias objetos geométricos. Existe una gran cantidad de problemas que se encuentran en esta área, como el estudio de conjuntos convexos, de problemas extremales geométricos, de problemas tipo Erdös, de propiedades geométricas de politopos, de transversales geométricas, entre otros.</p>

      <p>Por otro lado, la geometría computacional estudia aspectos algorítmicos, de estructuras de datos y de implementación en objetos geométricos. La importancia de limitar instancias de problemas algorítmicos a familias geométricas es que en muchas ocasiones estas restricciones cambian la naturaleza del problema, la respuesta obtenida y las técnicas que se usan. A veces un problema algorítmico (como clique-máximo) puede ser NP-difícil en instancias generales, pero tener solución polinomial en restricciones geométricas (como limitarse a gráficas de intersección de intervalos).</p>
        
      <p>La triple interacción entre estas dos ramas y sus aplicaciones es inevitable. Muchas problemas de la industria requieren de modelos geométricos: la visión computacional, la geolocalización, el transporte, las búsquedas en por rangos. Estas aplicaciones motivan problemas computacionales cuyas instancias geométricas requieren resultados en geometría computacional. Estos a su vez requieren de un fuerte entendimiento combinatorio de los espacios de estado del problema (frecuentemente, pero no limitado a, espacios euclideanos).</p>

      <p>Esta fuerte conexión no ha sido ignorada y, de hecho, ya existe el precedente de varios eventos y revistas internacionales en donde se da por hecho su cercanía. Como ejemplos de eventos, tenemos el Symposium of Computational Geomtery (SoCG), el European Workshop on Computational Geometry (EuroCG) y el Spanish Meeting on Computational Geometry. En los tres eventos se reciben trabajos tanto desde el punto de vista discreto como el computacional. Como ejemplos de revistas, tenemos el ejemplo canónico de Discrete and Computational Geometry, que recientemente cumplió sus 30 años.</p>

      <p>En México no tenemos un evento especializado en el área. La comunidad que trabaja en este tipo de problemas usualmente presenta sus resultados en el Coloquio Víctor Neumann Lara de Teoría de las Gráficas y sus Aplicaciones (más enfocado a estudiantes), o bien en el Congreso Nacional de la Sociedad Matemática Mexicana (más enfocado a los aspectos matemáticos). Esta es una oportunidad especial para abrir este espacio.</p>
      
       -->
    </div>

</div>

</body>

</html>