<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Person">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no>">
    <title> Taller de Geometría Discreta y Computacional - ENC - SMCC</title>

    <!-- Styles and Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/smcc.css"/>
    <!-- <link rel="stylesheet" href="/static/convertex.css" /> -->
    <script type="text/javascript" src="/static/bootstrap/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link  rel="stylesheet"  href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.css"/>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX", "output/HTML-CSS"],
                    tex2jax: {
                      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                      processEscapes: true
                    },
                    "HTML-CSS": { availableFonts: ["TeX"] }
                  });
        </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js'></script>

    <!-- Local scripts -->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script type="text/javascript" src="/static/js/convertex.js"></script>
    <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.1/dist/bootstrap-toc.min.js"></script>

    
</head>

<body data-spy="scroll" data-target="#toc">

<!-- <header>
    <h1>Encuentro Nacional de Computación 2021, SMCC</h1>
    <h2 data-toc-skip>Taller de Geometría Discreta y Computacional</h2>
</header> -->


<div class="container outter mt-3 pb-3">
  <div class="row">
    <div class=col-md-3>
      <img src="../static/voronoi.png" alt="Horario GDC ENC" class="w-100 mt-3"> </img>
      <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    </div>
    <div class="col-md-9 pt-3">
      <h1>Encuentro Nacional de Computación 2021, SMCC</h1>
      <h2>Taller de Geometría Discreta y Computacional</h2>

      <h3>Acerca de </h3>
      <p> Este taller se organiza en el marco del Encuentro Nacional de Computación de la Sociedad Mexicana de Ciencia de la Computación A.C. Todo el congreso se realizará de manera virtual. La institución sede es la ENES-Morelia, UNAM en conjunto con la Universidad Michoacana de San Nicolás de Hidalgo</p>

      <h3>Objetivo del taller </h3>

      <p>Identificar a la comunidad de investigadores y estudiantes mexicanos que se dediquen a la geometría discreta y computacional para ofrecerles un espacio de intercambio académico que permita fortalecer sus vínculos y que fomente la colaboración entre investigadores con formación en el aspecto discreto e investigadores con formación en el aspecto computacional.</p>

      <h3>Temas</h3>
      Recibiremos contribuiciones relacionadas con distintos temas en geometría discreta y computacional. Entre ellas se encuentran, pero no estan limitadas a, las siguientes.
      <ul>
        <li>Algoritmos en geometría</li>
        <li>Conjuntos convexos</li>
        <li>Estructuras de datos geométricas</li>
        <li>Geometría de transversales y teoremas tipo Helly</li>
        <li>Politopos</li>
        <li>Problemas extremales geométricos</li>
      </ul>

      <h3>Actividades</h3>
      <ul>
        <li>Conferencias invitadas</li>
        <li>Pláticas de investigación</li>
        <li>Sesión de problemas</li>
        <li>Sesión de propuestas de tesis (licenciatura y posgrado)</li>
        <li>Pósters</li>
      </ul>

      <h3>Fechas importantes</h3>
      <ul>
        <li>Recepción de trabajos: 31 de mayo de 2021</li>
        <li>Revisión de trabajos: 1 al 20 de junio de 2021</li>
        <li>Respuesta a los autores: 21 de junio de 2021</li>
        <li>Versión final: 29 de junio de 2021</li>
        <li>Fechas del taller: 10 y 11 de agosto de 2021</li>
      </ul>

      <hr>

      <h3>Preparación y envío de trabajos</h3>

      <h4>Pláticas de investigación</h4>
      <p>Para solicitar una plática, se deberá enviar un <i>extended abstract</i> que detalle los resultados del trabajo con las siguientes características:</p>

      <ul>
        <li>Usar la plantilla del ENC 2021 SMCC</li>
        <li>Máximo 4 cuartillas</li>
        <li>Bibliografía</li>
      </ul>

      Opcionalmente se puede hacer referencia a una versión completa del trabajo. Sin embargo, el contenido en el <i>abstract extendido</i> debe proveer suficiente evidencia para determinar la originalidad, interés y correctitud de los resultados.

      El Comité Técnico determinará los trabajos más adecuados para el taller en términos de los criterios anteriores. A los trabajos aceptados se les asignará una sesión de media hora para su presentación.

      <h4>Pósters</h4>
      <p>Para solicitar presentar un póster, se deberá enviar una <i>propuesta de póster con las siguientes características</i>:</p>

      <ul>
        <li>Usar la plantilla del taller</li>
        <li>Máximo 2 cuartillas</li>
        <li>Bibliografía</li>
      </ul>

      El Comité Técnico determinará los trabajos más adecuados para el taller en términos de orginalidad, interés y correctitud de los resultados. Los pósters aceptados deberán prepararse con una plantilla por determinar. Se subirán a este sitio y estarán disponibles durante toda la conferencia.

      <h4>Problemas abiertos y propuestas de tesis</h4>

      Para el envío de problemas abiertos y propuestas de tesis se deberá enviar un documento con las siguientes características.

      <ul>
        <li>Usar la plantilla del taller</li>
        <li>Máximo 2 cuartillas</li>
        <li>Enunciar contexto, definiciones y problema a estudiar</li>
        <li>Dar bibliografía auxiliar</li>
      </ul>

      <hr>

      <h3>Programa tentativo</h3>

        <img src="../static/Horario.png" alt="Horario GDC ENC" class="w-75"> </img>

      <hr>

      <h3>Organización del taller</h3>
      <h4>Comité organizador</h4>
      <ul>
        <li>Leonardo Ignacio Martínez Sandoval (chair) - Facultad de Ciencias, UNAM</li>
      </ul>

      <h4> Comité Técnico </h4>
      <ul>
        <li>Por determinar</li>
        <li>Por determinar</li>
        <li>Por determinar</li>
      </ul>

      <h3>Enlaces útiles</h3>
      <ul>
        <li><a href="http://computo.fismat.umich.mx/smcc/"> Sociedad Mexicana de Ciencia de la Computación A.C. </a></li>
        <li><a href="http://computo.fismat.umich.mx/enc2021/"> Encuentro Nacional de Computación </a></li>
      </ul>

      <!-- <p>Por un lado, la geometría discreta estudia las propiedades combinatorias de familias objetos geométricos. Existe una gran cantidad de problemas que se encuentran en esta área, como el estudio de conjuntos convexos, de problemas extremales geométricos, de problemas tipo Erdös, de propiedades geométricas de politopos, de transversales geométricas, entre otros.</p>

      <p>Por otro lado, la geometría computacional estudia aspectos algorítmicos, de estructuras de datos y de implementación en objetos geométricos. La importancia de limitar instancias de problemas algorítmicos a familias geométricas es que en muchas ocasiones estas restricciones cambian la naturaleza del problema, la respuesta obtenida y las técnicas que se usan. A veces un problema algorítmico (como clique-máximo) puede ser NP-difícil en instancias generales, pero tener solución polinomial en restricciones geométricas (como limitarse a gráficas de intersección de intervalos).</p>
        
      <p>La triple interacción entre estas dos ramas y sus aplicaciones es inevitable. Muchas problemas de la industria requieren de modelos geométricos: la visión computacional, la geolocalización, el transporte, las búsquedas en por rangos. Estas aplicaciones motivan problemas computacionales cuyas instancias geométricas requieren resultados en geometría computacional. Estos a su vez requieren de un fuerte entendimiento combinatorio de los espacios de estado del problema (frecuentemente, pero no limitado a, espacios euclideanos).</p>

      <p>Esta fuerte conexión no ha sido ignorada y, de hecho, ya existe el precedente de varios eventos y revistas internacionales en donde se da por hecho su cercanía. Como ejemplos de eventos, tenemos el Symposium of Computational Geomtery (SoCG), el European Workshop on Computational Geometry (EuroCG) y el Spanish Meeting on Computational Geometry. En los tres eventos se reciben trabajos tanto desde el punto de vista discreto como el computacional. Como ejemplos de revistas, tenemos el ejemplo canónico de Discrete and Computational Geometry, que recientemente cumplió sus 30 años.</p>

      <p>En México no tenemos un evento especializado en el área. La comunidad que trabaja en este tipo de problemas usualmente presenta sus resultados en el Coloquio Víctor Neumann Lara de Teoría de las Gráficas y sus Aplicaciones (más enfocado a estudiantes), o bien en el Congreso Nacional de la Sociedad Matemática Mexicana (más enfocado a los aspectos matemáticos). Esta es una oportunidad especial para abrir este espacio.</p>
      
       -->
    </div>

</div>

</body>

</html>