<h3>Web Development and Web Administration Portfolio</h3>

{% for project in items %}
<div class="paperitem wrapper">
    <div class="PInfo">
        <strong> {{ project.title }}</strong><br>
        {{ project.description | safe }}<br>
        {% if project.link!=None %}
        <a href="{{ project.link }}"> Link to project </a>
        {% endif %}
    </div>

    <div class="wrapper">
        <div class="thirdLabel Y">{{ project.date }}</div>
        <div class="thirdLabel L">{{ project.technologies }}</div>
    </div>
</div>
{% endfor %}